.filter-group-container {
  width: 350px;
}

.hr-element {
  border-color: white;
  border-width: 2px;
}
.main-heading {
  color: white;
  font-size: 20px;
}
.filter-container {
  color: white;
}

.rating-item {
  list-style-type: none;
}

.ratings-list {
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
