.company-logo {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.eachJobItem {
  background-color: #272727;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  margin-right: 20px;
  border-radius: 10px;
  list-style-type: none;
  color: white;
}
.dflex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}
.job-title {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.icons {
  margin-right: 10px;
}
.job-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.job-description {
  font-size: 20px;
}

.job-rating {
  color: gold;
  margin-right: 10px;
}

.job-package {
  font-weight: bold;
}

.class-link {
  text-decoration: none;
}
.skills-list {
  padding: 0px;
  list-style-type: none;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.company-image {
  width: 280px;
  height: 200px;
  margin-left: 20px;
}
.para {
  width: 60%;
}
.company-lifestyle {
  display: flex;
  flex-direction: row;
}

.navigate-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigate-icon {
  margin-left: 10px;
  font-size: 20px;
}

.nav-link {
  text-decoration: none;
}
